html{
    overscroll-behavior-y: contain;
}
.block{
    color:white;
    background-color:rgba(0,0,0,.6);
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    
}

.nav-pills{
    font-size: 1.7em;
    color:white;
    background-color:rgba(0,0,0,.8);
    position:sticky;
    width: 100.4%;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
    
}
#navbar a {
    color:white;
    font-family: lobster;
}
#p1 a {
    color:white;
    font-family: lobster;
}
#p4 a {
    color:white;
    font-family: lobster;

}
.sticky {
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container-fluid{
    margin-left: -20px;
    margin-right: -20px;
}
body{
    font-family: Lobster;
    background-color: white;
    color:white;
    z-index: +1;
    font-family: Roboto;
}
h1{
    padding: 0;
    margin-top: 0px;
    font-size: 7.0em;
    padding-left: 5%;
    z-index: +1;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
    font-family: lobster;
}
h2{
    padding: 0;
    margin-top: 0px;
    font-size: 7.0em;
    padding-left: 5%;
}
h3{

    font-size: 1.5em;
    width: 100%;
    font-family: lobster;
}
.btn-default{
    background-color: black;
    border-color:white;
    color:white;
    font-size: 1.7em;
}
.pageOne{
    background:url("https://images.unsplash.com/photo-1561063139-e183e66909c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size:cover;
    padding-bottom: 10%;
    padding-top: 10%;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}
.pageTwo{
    background:url("https://images.unsplash.com/photo-1437652633673-cc02b9c67a1b?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=&bg=)");
    background-size:cover;
    padding-bottom:5%;
    padding-top:5%;
    
}
.pageTwo .row {
    margin-left: 0px;
    margin-right: 0px;
}
.pageThree .row {
    margin-left: 0px;
    margin-right: 0px;
}
.pageFour .row {
    margin-left: 0px;
    margin-right: 0px;
}
.pageThree{
    background:url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?dpr=1&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=&bg=");
    background-size:cover;
    height:1200px;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: +1;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}
.pageFour{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
    background:url("https://images.unsplash.com/photo-1594240094495-1b9177b5fefc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2394&q=80");
    background-size:cover;
}
p{
    font-size: 1.3em;
    padding-left: 5%;
}
.me{
    height:400px;
    margin-right:auto;
    margin-left:auto;
    border-radius:50%;
    position: relative;
    border: 6px solid rgba(255,255,255,.4);
}
.projectPreviews{
    height: 300px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 10%;
    
}
#githubicon{
    color: rgb(102, 43, 129);
}
#linkedinicon{
    color: rgb(0, 127, 178);
}
#githubiconFooter{
    color: rgb(102, 43, 129);
    font-size: 3em;
    padding-top: 20px;
}
#linkediniconFooter{
    color: rgb(0, 127, 178);
    font-size: 3em;
    padding-top: 20px;
}
.paddingTop{
    padding-top:2%;
    padding-bottom:2%;
}
.paddingBTN{
    width:200px;
    margin-bottom:25px;
}
.footer{
    background-color:black;
    height: 60px;
    font-family: lobster;
    width: 100%;
    padding-left: 5px;
}
.footer a {
    color: white;
}
.row{
    position: relative;
    z-index: 0;
    width: 100%;
}
table{
    font-family: roboto;
    font-size: 1.3em;
    text-align: left;
}
td{
    padding-right: 20px;
    padding-top: 10px;
}
.tdLobster{
    font-family: lobster;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		2px 2px 0 #000;
}
.col{padding-bottom: 100px;}
